$def with (name,topic,info,issues,enter)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$name</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/test.css">
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/guidance.js"></script>

</head>
<body class="font_1">
<div class="site-wrapper">
    <input id="data"  type="hidden"/>

    <div class="">
        <div class="cover-container">
            <div class="masthead clearfix pos_stock">
                <div class="inner">
                    <h3 class="masthead-brand">AIDA_1</h3>

                    <nav class="nav nav-masthead">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="#">About us</a>
                        <a class="nav-link" href="#">Help</a>
                    </nav>
                </div>
            </div>
            <div class="stock_content_div stock_content">
                <div class="row">
                    <div class="col-sm-12">
                        <!--<h2 class="mb80 bold text-center topic_20">Few things about us</h2>-->
                        <div class="inner cover">
                            <div class="">
                                <form class="form-inline" method="POST">
                                    <input type="text" class="form-control" placeholder="topic" value=$topic
                                           name="topic" id="topicVal"/>
                                    <input type="submit" id="test_search" class="btn btn-secondary-outline" value="Search"/>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="tabbed-content button-tabs vertical ">
                            <ul class="tabs">

                                <li class="active">
                                    <div class="tab-title" id="category_1">
                                        <span>军工</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="category_2">
                                        <span>光伏</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="category_3">
                                        <span>化工</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="category_4">
                                        <span>房地产</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="category_5">
                                        <span>证券</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="category_6">
                                        <span>航空航天</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="category_7">
                                        <span>酒店企业</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="category_8">
                                        <span>物流</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="category_9">
                                        <span>互联网</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="tab-title" id="category_10">
                                        <span>电信</span>
                                    </div>
                                </li>
                            </ul>
                            <ul class="content father">

                                <li class="active" >
                                    <div class="tab-content">
                                        <div style="width: 600px;height:30px; ">
                                            <nav class="nav nav-masthead  " style="float: left;height: 30px">
                                                <a class="nav-link active"
                                                   style="display:inline;height: 30px;font-size: 15px"
                                                   href="#">A</a>
                                                <a class="nav-link"
                                                   style="display:inline;height: 30px;font-size: 15px" href="#">B</a>
                                                <a class="nav-link"
                                                   style="display:inline;height: 30px;font-size: 15px"
                                                   href="#">C</a>
                                                <a class="nav-link"
                                                   style="display:inline;height: 30px;font-size: 15px"
                                                   href="#">D</a>
                                                <a class="nav-link"
                                                   style="display:inline;height: 30px;font-size: 15px"
                                                   href="#">E</a>
                                            </nav>
                                        </div>
                                        <hr>

                                        <ul class="content child">
                                        <!--
                                            <li class="active">
                                                <div class="tab-content">
                                                    <div id="main" style="width: 600px;height:400px;"></div>

                                                </div>
                                            </li>
                                            <li class="active">
                                                <div class="tab-content">

                                                    <div id="popu" style="width: 600px;height:400px;"></div>

                                                </div>
                                            </li>
                                            <li class="active">
                                                <div class="tab-content">

                                                    <div id="news" style="width: 600px;height:400px;"></div>

                                                </div>
                                            </li>
                                        -->

                                        <li class="active">
                                                <div class="tab-content">
                                                    <p class="lead stock_content">
                                                      <font size="3" color="white">
                                                        <a href="index">阿里巴巴</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司2</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司3</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司4</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司5</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司6</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司7</a>
                                                        <br/>
                                                      </font>
                                                    </p>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="tab-content">

                                                    <p class="lead stock_content">
                                                      <font size="3" color="white">
                                                        <a href="index">阿里巴巴</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司2</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司3</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司4</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司5</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司6</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司7</a>
                                                        <br/>
                                                      </font>
                                                    </p>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="tab-content">

                                                    <p class="lead stock_content">
                                                      <font size="3" color="white">
                                                        <a href="index">阿里巴巴</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司2</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司3</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司4</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司5</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司6</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司7</a>
                                                        <br/>
                                                      </font>
                                                    </p>

                                                </div>
                                            </li>


                                        </ul>


                                    </div>
                                </li>
                                <li>
                                    <div class="tab-content">
                                        <div style="width: 600px;height:30px; ">
                                            <nav class="nav nav-masthead  " style="float: left;height: 30px">
                                                <a class="nav-link active"
                                                   style="display:inline;height: 30px;font-size: 15px"
                                                   href="#">A</a>
                                                <a class="nav-link" style="display:inline;height: 30px;font-size: 15px"
                                                   href="#">B</a>
                                                <a class="nav-link" style="display:inline;height: 30px;font-size: 15px"
                                                   href="#">C</a>
                                                <a class="nav-link" style="display:inline;height: 30px;font-size: 15px"
                                                   href="#">D</a>
                                                <a class="nav-link" style="display:inline;height: 30px;font-size: 15px"
                                                   href="#">E</a>

                                            </nav>
                                        </div>
                                        <hr>
                                        <ul class="content child">
                                            <li class="active">
                                                <div class="tab-content">
                                                    <p class="lead stock_content">
                                                      <font size="3" color="white">
                                                        <a href="index">阿里巴巴</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司2</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司3</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司4</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司5</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司6</a>
                                                        <br/>
                                                        <a href="index" font="100px">A公司7</a>
                                                        <br/>
                                                      </font>
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tab-content">
                                                    <p class="lead stock_content">
                                                        <font size="3" color="white">
                                                        <a href="index">百度</a>
                                                        <br/>
                                                        <a href="index">B公司2</a>
                                                        <br/>
                                                        </font>
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tab-content">
                                                    <p class="lead stock_content">
                                                       <font size="3" color="white">
                                                        <a href="index">百度</a>
                                                        <br/>
                                                        <a href="index">B公司2</a>
                                                        <br/>
                                                        </font>
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tab-content">

                                                    <p class="lead stock_content">
                                                        <font size="3" color="white">
                                                        <a href="index">百度</a>
                                                        <br/>
                                                        <a href="index">B公司2</a>
                                                        <br/>
                                                        </font>
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="tab-content">
                                                    <p class="lead stock_content">
                                                        <font size="3" color="white">
                                                        <a href="index">百度</a>
                                                        <br/>
                                                        <a href="index">B公司2</a>
                                                        <br/>
                                                        </font>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </li>
                                <li >
                                    <div class="tab-content">
                                        <hr>

                                    </div>
                                </li>
                                <li >
                                    <div class="tab-content">
                                        <hr>

                                    </div>
                                </li>
                                <li ">
                                    <div class="tab-content">
                                        <hr>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mastfoot pos_stock">
                <div class="inner">
                    <p>Organized by <a href="#">@AIDA</a>.</p>
                </div>
            </div>
        </div>


    </div>
</div>

</body>
</html>