$def with (name)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/test.css">
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body class="font_1">
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="container">
            <!--<div class="masthead clearfix">-->
            <!--<div class="inner">-->
            <!--<h3 class="masthead-brand">AIDA</h3>-->
            <!--<nav class="nav nav-masthead">-->
            <!--<a class="nav-link active" href="#">Home</a>-->
            <!--<a class="nav-link" href="#">About us</a>-->
            <!--<a class="nav-link" href="#">Help</a>-->
            <!--</nav>-->
            <!--</div>-->
            <!--</div>-->

            <div class="row">
                <h1 class="cover-heading index-header">XXXX</h1>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <form class="" method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="000001" name="query"/>
                            <div class="input-group-btn">
                                <input type="submit"
                                       style="width:100px"
                                       class="btn btn-secondary-outline index-font1"
                                       value="搜索"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2">
                </div>
                <!--<p class="lead">Search for stock codes, stock names or key words.</p>-->
            </div>
            <br>
            <button type="button" onclick="{location.href='echart.html'}" class="btn btn-danger-outline btn-lg index-font1">上市公司</button>
            <button type="button" onclick="{location.href='echart.html'}" class="btn btn-danger-outline btn-lg index-font1">金融中介</button>
            <br><br><br><br>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10">
                    <div class="col-sm-4">
                        <a href="index.html">
                            <img src="/static/img/index_1.jpg" class="img-thumbnail img-bottom" alt="图片1">
                        </a>
                        <blockquote class="blockquote stock_content">
                            <p class="mb-0">11月7日中国外汇交易中心公告人民币(6.7740, 0.0200, 0.30%)汇率中间价报6.7725，贬值211个基点。</p>
                            <footer class="blockquote-footer"><cite title="Source Title">新浪财经</cite></footer>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <a href="index.html">
                            <img src="/static/img/index_2.jpg" class="img-thumbnail img-bottom" alt="图片2">
                        </a>
                        <blockquote class="blockquote stock_content">
                            <p class="mb-0">周一早盘，乐视网(38.950, -0.76, -1.91%)跳空低开5%，集合竞价阶段一度跌停。自上周三至今跌幅近15%。截止目前，报37.81元，创一个半月新低。</p>
                            <footer class="blockquote-footer"><cite title="Source Title">新浪财经</cite></footer>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                        <a href="index.html">
                            <img src="/static/img/index_3.jpg" class="img-thumbnail img-bottom" alt="图片3">
                        </a>
                        <blockquote class="blockquote stock_content">
                            <p class="mb-0">中国央行进行200亿元7天期逆回购操作，中标利率2.25%。</p>
                            <footer class="blockquote-footer"><cite title="Source Title">新浪财经</cite></footer>
                        </blockquote>
                    </div>


                </div>
                <div class="col-sm-1">
                </div>
            </div>


        </div>
        <div class="mastfoot">
            <div class="inner">
                <p>Organized by <a href="#">@AIDA</a>.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>