$def with (name, content)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$name</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./static/bootstrap.css">
    <link rel="stylesheet" href="./static/test.css">
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="./static/jquery-3.0.0.min.js"></script>
    <script src="./static/bootstrap.js"></script>
</head>
<body class="font_1">
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix pos_stock">
                <div class="inner">
                    <h3 class="masthead-brand">AIDA</h3>
                    <!--<nav class="nav nav-masthead">-->
                    <!--<a class="nav-link active" href="#">Home</a>-->
                    <!--<a class="nav-link" href="#">About us</a>-->
                    <!--<a class="nav-link" href="#">Help</a>-->
                    <!--</nav>-->
                </div>
            </div>
            <div class="inner cover stock_content_div stock_content">
                $for line in content.split('\n'):
                    $line.strip()<br>

            </div>

            <div class="mastfoot pos_stock">
                <div class="inner">
                    <p>Organized by <a href="#">@AIDA</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>